body {
  display: flex;
  flex-direction: column;
margin:20px;
  padding: 20px;
}

.items {
  background-color: #f9f9f9;
  margin-top: 20px;
	display:flex;
	flex-direction:column
	
}

.item {
		display:flex;
	flex-direction:column;
  width: 50px;
  height: 50px;
  background-color: #3498db;
  position: absolute;
  border-radius: 8px;
  cursor: move;
  transition: all 0.2s ease;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.item.dragging {
  opacity: 0.8;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  z-index: 100;
}
